/* custom styles */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/AvenirLTStd-Medium.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: lighter;
  font-weight: 100;
  src: url("fonts/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: bolder;
  font-weight: 800;
  src: url("fonts/AvenirLTStd-Heavy.otf"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: lightgray; }

body {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 100;
  font-family: "AvenirLTStd"}/* "Helvetica", "Sans Serif"; }*/
@media only screen and (min-width: 768px) {
body{width: 60%;
margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  padding: 20px;
}

.header-container > div {
  background-color: #fff;
  width: 50px;
  text-align: right;
  line-height: 75px;
  font-size: 30px;
  
}
.header-container>div>img
{width: 80%;}
}


/*hoempage*/
 header{
  width:100%;
  text-align: center;
  background-color: #fff;
  }
.login{
  color:#1b7aa2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
}
.login:hover{
  color:#b3d3e0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.header-container {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  padding: 20px;
}

.header-container > div {
  background-color: #fff;
  width: 50px;
  text-align: right;
  line-height: 75px;
  font-size: 30px;
  
}
.header-container>div>img
{width: 80%;}


/*---------------------Section A-------------------*/
.section-a{
  padding: 5%;
  background-color: #e4e4e4;
}
.text-welcome{
  text-align: center;
}
.text-welcome h4{
  font-size: 24px;
  font-weight: 600;
  color:#1c7aa2;
}
.text-welcome p{
  font-size: 20px;
  font-weight: 500;
  color:#434547;
}
.video-container{
  position: relative;
  overflow:hidden;
  margin: 0 auto;
  width:100%;
  background-color: lightgray;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .2);
  margin-bottom: 2%;
}
.video-container img{
  width:100%;
}
.video-btn{
  position: absolute;
  border-radius: 50%;
  border-style: none;
  background-color: #fff;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.blue-container {
  display: flex;
  align-items: stretch;
  background-color: #1c7aa2;
  padding: 10px;
  margin:20px;
  color: #fff;
}
.blue-container > div {
  background-color: #1c7aa2;
  width: 50px;
  text-align: left;
  text-transform: uppercase;
}

.blue-container>div>img
{width: 60%;}

.orange-container {
  display: flex;
  align-items: stretch;
  background-color: #e16a2c;
  padding: 10px;
  margin:20px;
  color: #fff;
}

.orange-container > div {
  background-color: #e16a2c;
  width: 50px;
  text-align: left;
  text-transform: uppercase;
}
.orange-container>div>img
{width: 60%;}
/*---------------------Section B-------------------*/
.section-b{
  padding: 5%;
background-color: #e4e4e4;
}
.info-container {

  display: flex;
  align-items: stretch;
  background-color: #e4e4e4;
  color: #898989;
}
.info-container > div {
  position: relative;
  background-color: #e4e4e4;
  width: 50px;
  margin: 10px;
  text-align: left;
}
.info-container>div>img
{width: 100%;}

.vl-top {
    border-left: 4px solid #e16a2c;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -10%;
}
.vl-middle {
    border-left: 4px solid #e16a2c;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0%;
}
.vl-bottom {
    border-left: 4px solid #e16a2c;
    height: 186px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom:-14%;
}
/*---------------------Section C-------------------*/
.section-c{
padding: 5%;
background-color: #e4e4e4;
}
.list-container {
  display: flex;
  align-items: stretch;
  background-color: #e4e4e4;
  padding: 10px;
}
.list-container > div {
  background-color: #e4e4e4;
  width: 50px;
  text-align: left;
}
.list-container>div>img
{width: 80%;}
.list-number{
  font-size: 40px;
  font-weight: 600;
  color: #e16a2c;
  text-align: center;
}
.list-text{
  font-size: 18px;
  font-weight: 200;
  color: #898989;
}
.logo-div{
  width:60px;
  height:40px;
  padding: 5px;
  margin:10px;
  border:1px solid #000;
}
.top-div-container {
  display: flex;
  justify-content: center;
}
.top-div-container > div {
  
  width: 140px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  border:1px solid #000;
}

.bottom-div-container {
  display: flex;
  justify-content: center;
  
}

.bottom-div-container > div {
  
  width: 140px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  border:1px solid #000;
}
footer{
  padding:5%;
  
}
.icon-container{
  display: flex;
  justify-content: center;
  color:#7d8d9e;
  padding: 2%;
  border-top: 1px solid #7d8d9e;
}
.icon-container>div {
  width: 140px;
  margin: 2px;
  text-align: center;
  font-size: 36px;

}

.footer-links{
  text-align: center;
  width:60%;
  margin: 5% auto;
  color:#898989;
  font-size: 18px;
  text-transform: uppercase;
}
  
.footer-address{
  width:100%;
  text-align: center;
  color: #898989;
  
 }
 .footer-address p{
  font-size:16px;
 }